[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
mysqlclient = "*"
pillow = "*"
configparser = "*"
uvicorn = "*"
werkzeug = "*"
djangorestframework = "*"
markdown = "*"
requests = "*"
drf-yasg = "*"
fabric = "*"
patchwork = "*"

[requires]
python_version = "3.8"
