{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>Latest stories</h2>

    {% if stories %}
    <div class="infinite-container">
    {% for story in stories %}
        <div class="infinite-item">
        <h3>#{{ story.id }}
        {% if story.description %}
            {{ story.description }}
        {% endif %}
        </h3>

        {% if story.type == 1 %}
            <div>
                <img src="{{ MEDIA_URL }}images/{{ story.content }}" width="100%"
                     srcset="{{ MEDIA_URL }}images/640_{{ story.content }} 640w,
                             {{ MEDIA_URL }}images/750_{{ story.content }} 750w,
                             {{ MEDIA_URL }}images/1080_{{ story.content }} 1080w">
            </div>
        {% elif story.type == 2 %}

        {% elif story.type == 3 %}
            <div>
                <video controls width="100%" src="{{ MEDIA_URL }}/videos/{{ story.content }}"></video>
            </div>
        {% elif story.type == 4 %}
            <p>{{ story.content }}</p>
        {% endif %}
        </div>
    {% endfor %}
    </div>

    {% if stories.has_next %}
    <a class="infinite-more-link" href="{% url 'latest_stories' %}?page={{ stories.next_page_number }}"></a>
    {% endif %}
    <div class="d-flex justify-content-center" style="display:none;">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    {% endif %}

{% endblock %}