<nav class="nav">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">About</a></li>
        <li class="nav-submenu"><a href="#">Services</a>
            <ul>
                <li><a href="#">Some Service</a></li>
                <li><a href="#">Another Service</a></li>
                <li><a href="#">Good Service</a></li>
            </ul>
        </li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>