[django]
debug = yes
secret_key = uy*4p9+(q3ky*9#^h5*twi#@+b&glh2o8_kde7i=mlm3%&vd+y

[database]
host = 127.0.0.1
port = 3306
name = logbook
user = admin
password = admin

[project]
title = Logbook
path = /srv/www/logbook
git_repository = github.com:sybrex/logbook.git
git_key = '~/.ssh/github-deployer'
systemd_service = logbook
username = deployer